a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: white;
}
 

 
.mat-toolbar1{
    border-radius: 10px;
    background-color: white;
    color: white;
    border-color: black;
    border-bottom:3px solid black;
  
}

.mat-toolbar2{
    border-radius: 10px;
    background-color: white;
    color: white;
    width: 100%;
    height: 50px;
}

.mat-toolbar3{
    border-radius: 10px;
    background-color: white;
    color: white;
    width: 100%;
    height: 60px;
}
 
@media(max-width: 959px){
    mat-toolbar{ 
        border-color: black;
    }
}

.filler {
    flex: 1 1 auto;
}

.gap {
    margin-right: 20px;
} 

.dropdown-gap{
    margin-right: 50px;
    
}



.dropdown-width{
    width: 260px !important;
    height: 170px !important;
    background-color: black;
}

.rescolor{
    border-radius: 3px;
    width: 300px;
    height: 65px;
    background-color: orangered;
    align-items: center;

}

.menu{
    height: 30px;
    position: absolute;
    top: 50px;
    left:0px;
}

.button1{
    box-shadow: none;
    border-color: white;
    border-radius: 0%;
}

.dropdownposition{
    height: 40px;
    position: absolute;
    top: 100px;
    right:50px;
}






