example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


  }

#searchbar{
    /* border: 5px solid green; */
    /* align="right" */
    /* right: 0px; */
  /* margin-left: 1550px; */
}
