<!-- <div class="container">
  <p>Resource table</p>

  <table class="resource_table">
    <thead>
      <tr>
        <th class="">resource_code</th>
        <th class="">resource_name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        id="addRowsBelow"
        *ngFor="
          let resource of listResource;
          let i = index;
          let o = odd;
          let e = even
        "
        [ngClass]="{ odd: o, even: e }"
        id="{{ resource.resourceCode }}"
      >
        <td>{{ resource.resourceCode }}</td>
        <td>{{ resource.resourceName }}</td>
      </tr>
      <table>
        <tr id="addRows"></tr>
      </table>

      <div>
        <button (click)="addNewResource()">add row</button>
      </div>
    </tbody>
  </table>
  <div>
    <button (click)="submit()">Submit</button>
    <button>Discard</button>
  </div>
</div>
<!-- !!!!!??? &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->

<!-- <table class="resource_table">
  <thead>
    <tr>
      <th class="">resource_code</th>
      <th class="">resource_name</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let resource of newList; let i = index; let o = odd; let e = even"
      [ngClass]="{ odd: o, even: e }"
      id="{{ resource.resourceCode }}"
    >
      <td>
        <input value="{{ resource.resourceCode }}" />
      </td>
      <td>
        <input value="{{ resource.resourceName }}" />
      </td>
    </tr>
    <table>
      <tr id="addRows"></tr>
    </table>

    <div>
      <button (click)="addNewResource()">add row</button>
    </div>
  </tbody>
</table> -->
<div class="container">
  <div class="tableHeader" layout="row" layout-xs="column">
    <input matInput (keyup)="applyFilter($event)" placeholder="Keyword" />

    <span class="material-icons" id="search"> search </span>

    <span class="filler"> </span>

    <span>Resource Catalog</span>
    <span class="filler"> </span>
    <span class="gap"> </span>
    <span class="moregap"> </span>
    <span class="material-icons" id="add_box"> add_box </span>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Resource_Code">
      <th mat-header-cell *matHeaderCellDef>Resource_Code</th>
      <td mat-cell *matCellDef="let resource">
        <span class="material-icons"> arrow_right </span>
        <span *ngIf="editable; else elseNotDone">{{
          resource.resourceCode
        }}</span>

        <ng-template #elseNotDone>
          <input
            value="{{ resource.resourceCode }}"
            (keydown.enter)="typeInResourceCode($event)"
          />
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Resource_Name">
      <th mat-header-cell *matHeaderCellDef>Resource_Name</th>
      <td mat-cell *matCellDef="let resource">
        <span *ngIf="editable; else elseNotDone">{{
          resource.resourceName
        }}</span>

        <ng-template #elseNotDone>
          <input
            value="{{ resource.resourceName }}"
            (keydown.enter)="typeInResourceName($event)"
          />
        </ng-template></td
    ></ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="addNewResource1()">
      Add Row
    </button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    <button mat-raised-button color="accent">Discard</button>
    <button mat-raised-button color="accent">Push ArrayList</button>
  </div>
</div>
<span>{{ resource_code }}</span>
<span>{{ resource_name }}</span>
<span>{{ newAddResourceList }}</span>
<!-- <mat-form-field></mat-form-field> -->

<!-- <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-icon>add_box</mat-icon>
  <mat-select class="alarm-dropdown" trigger="alarmTrigger" #alarmSelect>
    <mat-option *ngFor="let food of addMethodsList" [value]="food">
      {{ food }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<!-- <input> -->
<!-- test -->
<router-outlet></router-outlet>
