

<div >

	<div class="fixedDiv">
		<table class="fixedtable">
			<tr>
				<td>
					<div class=" mat-elevation-z8">
						<mat-table #table [dataSource]="dataSource">

							<!-- Checkbox Column -->
							<ng-container matColumnDef="select">
								<mat-header-cell *matHeaderCellDef>
									<mat-checkbox (change)="$event ? masterToggle() : null"
										[checked]="selection.hasValue() && isAllSelected()"
										[indeterminate]="selection.hasValue() && !isAllSelected()">
									</mat-checkbox>
								</mat-header-cell>
								<mat-cell *matCellDef="let row">
									<mat-checkbox (click)="$event.stopPropagation()"
										(change)="$event ? selection.toggle(row) : null"
										[checked]="selection.isSelected(row)">
									</mat-checkbox>
								</mat-cell>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="resourceCode">
								<mat-header-cell *matHeaderCellDef> resourceCode </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.resourceCode}} </mat-cell>
							</ng-container>

							<!-- Weight Column -->
							<ng-container matColumnDef="resourceName">
								<mat-header-cell *matHeaderCellDef> resourceName </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.resourceName}} </mat-cell>
							</ng-container>



							<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
							</mat-row>
						</mat-table>

						<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>

					</div>
				</td>

				<td>
					<div class="example-container mat-elevation-z8">
						<mat-table #table [dataSource]="checkedDataSource">

							<!-- Checkbox Column -->
							<ng-container matColumnDef="select">
								<mat-header-cell *matHeaderCellDef>
									<mat-checkbox (change)="$event ? masterCheckedToggle() : null"
										[checked]="checkedSelection.hasValue() && isAllCheckedSelected()"
										[indeterminate]="checkedSelection.hasValue() && !isAllCheckedSelected()">
									</mat-checkbox>
								</mat-header-cell>
								<mat-cell *matCellDef="let row">
									<mat-checkbox (click)="$event.stopPropagation()"
										(change)="$event ? checkedSelection.toggle(row) : null"
										[checked]="checkedSelection.isSelected(row)">
									</mat-checkbox>
								</mat-cell>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="resourceCode">
								<mat-header-cell *matHeaderCellDef> resourceCode </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.resourceCode}} </mat-cell>
							</ng-container>

							<!-- Weight Column -->
							<ng-container matColumnDef="resourceName">
								<mat-header-cell *matHeaderCellDef> resourceName </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.resourceName}} </mat-cell>
							</ng-container>



							<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;"
								(click)="checkedSelection.toggle(row)">
							</mat-row>
						</mat-table>
						
        <mat-paginator #checkedpaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>

					</div>
			</tr>

		</table>

	</div>
	

	<div class="buttonBox">

		<button mat-raised-button color="primary" (click)="transferSelectedRows()">
			Move To Second Table
		</button>

		<button mat-raised-button color="primary" (click)="removeSelectedRows()">
			Move To First Table
		</button>

		<button mat-raised-button color="primary" (click)="submit()">
			submit
		</button>

	</div>
</div>