<!-- <p>current project: No.{{this.projectservice.selectedProjectCode}} </p> -->
<div >
    <div class="fixedDiv">
		<table class="fixedtable">
            <tr>
				<td>
					<div class="example-container mat-elevation-z8"  style="text-align:center;">
						<div class="tableHeader" layout="row" layout-xs="column">												
							<span class="filler"> </span>
						
							<span><font color="#FFFAFA" >QUANTITY SURVEY</font></span>
							<span class="filler"> </span>
							<span class="gap"> </span>
							<span class="moregap"> </span>
						  </div>
						<mat-table #table [dataSource]="checkformulasource">
							<ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns" >
								<mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
								<mat-cell *matCellDef="let element">
									<div *ngIf="column=='name' ">
										<span>
											{{element[column]}}  
										</span>
									</div>
									<div *ngIf="column=='costCode' " >

										<span *ngIf="selectedElement !== element  || selectedColumn !==column" (click)="[selectedElement = element,
										selectedColumn = column]">
											{{element[column]}}  
										</span>
										<mat-form-field *ngIf="selectedElement === element &&selectedColumn === column ">
											<input matInput [value]="element[column]" 
											placeholder= "{{ column }}"
											(focusout)="focusout($event.target.value, element,column)"
											(keydown)="keydown($event, element,input,column)"
											>
										</mat-form-field>
									</div>
									<div *ngIf="column=='itemId' ">
										<span>
											{{element[column]}}  
										</span>
									</div>
									<div *ngIf="column=='editable' ">
										<span>
											{{element[column]}}  
										</span>
									</div>
									<div *ngIf="column!='costCode' && column!= 'name' && column!='itemId' && column!='editable'" >
										<span *ngIf = "((element.stringExtraColumnMap)[column]).type == 'Formula' ">
											{{((element.stringExtraColumnMap)[column]).extraFormula  }}  
										</span> 
										
										<span *ngIf="selectedElement !== element||selectedColumn !==column" (click)="[selectedElement = element,
										selectedColumn = column]">
											<span *ngIf = "((element.stringExtraColumnMap)[column]).type == 'Text' ">
													{{((element.stringExtraColumnMap)[column]).extraString  }}  
											</span>
											<span *ngIf = "((element.stringExtraColumnMap)[column]).type == 'Number' ">
												number:{{((element.stringExtraColumnMap)[column]).extraNum  }}  
											</span>
										</span>
										<mat-form-field *ngIf="selectedElement === element && selectedColumn === column && ((element.stringExtraColumnMap)[column]).type != 'Formula'">
											<input 
											matInput [value]="((element.stringExtraColumnMap)[column]).extraString" 
											placeholder= "{{ column }}"
											(focusout)="focusout2($event.target.value,element,column,(element.stringExtraColumnMap))"
											
											(keydown)="keydown2($event, element,column,(element.stringExtraColumnMap))"
											>
										</mat-form-field>					
									</div>
								</mat-cell>			
							</ng-container>
							<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;">
							</mat-row> 
						</mat-table>
						<mat-paginator #checkedpaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">        </mat-paginator>


					</div>
			</tr>
			<button  style="background-color:orangered;float: right;"   (click) = "onsubmit()">
				<font color="#FFFAFA" > √ Submit</font>
			</button>
		</table>
    </div>
</div>

<a  href="/template">
	<span style="color:blue; font-size: medium; font-weight: bold;">Edit Quantity Survey Template</span>
</a>

 

<!-- <button (click) = test()>
	test
</button> -->
<!-- <button (click) = "this.projectservice.addformulacolumn()">
	add column DEMO
</button> -->