h3 {
	font-size: 14px;
	font-family: Verdana, Sans-Serif;
	text-align: center;
	font-weight: bold;
	margin-top: 0px;
}

/* X */
.fixedDiv{
	/* border-style: dotted; */
	display:flex;
	justify-content: space-evenly;
}

.buttonBox{
	/* display:block; */
	display:flex;
	justify-content: space-evenly;
	/* width: 100%; */
	/* justify-content: space-evenly; */
	/* border: 5px solid red; */

}

.fixedtable{
	/* border: 5px solid orange; */

}


mat-table {
	/* border: 5px solid green; */

	width: 125px;  
}

/* .example-container {
	height: 300px;
	width: 600px;
	margin-left: 30px;
} */
mat-table {
	/* display:block; */
	text-align: center;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	color: #1a084c;
	width: 800px ;
	
	height: 500px;
	overflow: auto;
}
mat-header-cell, mat-header-row, .mat-header-cell-def {
	min-height: 25px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #1a084c;
	margin-bottom: 5px;
	top: 0;
	position: sticky;
	z-index: 1;
	background-color: inherit;
	width: 800px;
}

.tableHeader {
	background-color: darkgray;
  }


mat-row {
	min-height: 25px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #1a084c;
	width: 800px;
}
mat-cell {
	height: 25px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #1a084c;
}
.mat-raised-button {
	border-radius: 15px;
	margin-left: 60px;
	font-size: 12px;
	font-family: Verdana, Sans-Serif;
	text-align: center;
	font-weight: bold;
	height: 30px;
}
mat-grid-tile {
	background: lightblue;
	margin-left: -600px;
}
