<p>current project: No.{{this.projectservice.selectedProjectCode}} </p>

<div >
    <div class="fixedDiv">
		<table class="fixedtable">
            <tr>
				<td>
					<div class="example-container mat-elevation-z8"  style="text-align:center;">
						<div class="tableHeader" layout="row" layout-xs="column">												
							<span class="filler"> </span>
						
							<span><font color="#FFFAFA" >QUANTITY SURVEY</font></span>
							<span class="filler"> </span>
							<span class="gap"> </span>
							<span class="moregap"> </span>
						  </div>
						<mat-table #table [dataSource]="checkformulasource">
							 <!-- <ng-container matColumnDef="resourceName">
								<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
							</ng-container>
							<ng-container matColumnDef="costCode">
								<mat-header-cell *matHeaderCellDef> CostCode </mat-header-cell>
								<mat-cell *matCellDef="let element">
									<span *ngIf="selectedElement !== element" (click)="selectedElement = element">
										{{element.costCode}}  
									</span>
									<mat-form-field *ngIf="selectedElement === element">
										<input matInput [value]="element.costCode" 
										placeholder="cost code" 
										(focusout)="focusout($event.target.value, element)"
										(keydown)="keydown($event, element,input)"
										>
									</mat-form-field>
								</mat-cell>
							</ng-container> -->
  
				 
							<!-- <ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
							</ng-container> -->

							<ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns" >
								<mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
								<mat-cell *matCellDef="let element">
									<div *ngIf="column!='costCode' ">
										<span  >
											{{element[column]}}  
										</span>
									</div>

									<div *ngIf="column=='costCode' " >

										<span *ngIf="selectedElement !== element" (click)="selectedElement = element">
											{{element[column]}}  
										</span>
										<mat-form-field *ngIf="selectedElement === element">
											<input matInput [value]="element[column]" 
											placeholder= "{{ column }}"
											(focusout)="focusout($event.target.value, element)"
											(keydown)="keydown($event, element,input)"
											>
										</mat-form-field>
										
									</div>

								</mat-cell>			
							</ng-container>
							<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;"
								>
							</mat-row> 


						</mat-table>


						

					</div>
			</tr>

		</table>

    </div>
</div>

<a  href="/template">
	<span style="color:blue; font-size: medium; font-weight: bold;">Edit Quantity Survey Template</span>
</a>

<button  style="background-color:orangered;float: right;"   (click) = "onsubmit()">
	<font color="#FFFAFA" > √ Submit</font>
</button>

<!-- <button (click) = test()>
	test
</button> -->
<!-- <button (click) = "this.projectservice.addformulacolumn()">
	add column DEMO
</button> -->