.gap {
  margin-right: 20px;
}

.button {
  background-color: orangered;
  height:40px;
  width:40px;
  
}

.container{  
  width: 70%;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  align-content: center; 
  align-self: center;
} 




