
<table class="container">
    <div class="container">
        <td>
            <mat-checkbox (change)="name($event)">name</mat-checkbox><br>
            <mat-checkbox (change)="cost_code($event)">cost_code</mat-checkbox><br>
            <mat-checkbox (change)="editable($event)">editable</mat-checkbox><br>
            <mat-checkbox (change)="item_id($event)">item_id</mat-checkbox><br>
        </td>

        <span class="gap"></span>
        <td>
  <form [formGroup]="colForm" (ngSubmit)="onSubmit()">

    <!--Value: {{ colForm.value.columns | json }}-->

    <div formArrayName="columns">

        <div *ngFor="let column of columnForms.controls; let i=index" [formGroupName]="i">


            <mat-form-field class="full">
                <a>Field</a><br><br>
                <input matInput type="text" formControlName="columnName">
            </mat-form-field>
            <span class = "gap"></span>
            <mat-form-field class="full">
                <a>Type</a><br><br>
                <!--<input matInput formControlName="type">
                <mat-label>Select an option</mat-label>-->
                <mat-select formControlName="columnType">
                    <mat-option value="int">Number</mat-option>
                    <mat-option value="VARCHAR(50)">Text</mat-option>
                    <mat-option value="VARCHAR(100)" #selectValue>Formula</mat-option>
                </mat-select>
            </mat-form-field>
            <span class = "gap"></span>
           <mat-form-field class="full">
                <a>Formula</a><br><br>
                <input matInput formControlName="formula">
            </mat-form-field>

            <!--<button mat-raised-button color="warn" (click)="deleteColumn()">Delete</button>-->
          
            <button  mat-raised-button class="button"  (click)="deleteColumn()" style="background-color: orangered; color: white;">
                <mat-icon>delete</mat-icon>
            </button>
          
        </div>

    </div>

    
    <a>Add Field</a> <span class = "gap"></span>
    <button mat-raised-button (click)="addcolumn()" class="button" style="background-color: orangered; color: white;  shape-outside: margin-box;">
        <mat-icon>add</mat-icon>
    </button>
    <br>
    <button type="submit">Submit</button>
</form>
</td>

</div>
</table>
<!-- *ngIf="selectedType === 'varchar' "-->




