<mat-nav-list>

    <a mat-list-item routerLink="#" *ngIf="isLoggedIn" (click)="!onSidenavClose()">
        <span class="nav-caption"></span>   
    </a>
    <a mat-list-item routerLink="/resource" *ngIf="isLoggedIn" (click)="onSidenavClose()">
        <span class="nav-caption listitem">Resource</span>   
    </a>

    <a mat-list-item routerLink="/search/project" *ngIf="isLoggedIn" (click)="onSidenavClose()">
        <span class="nav-caption listitem">Project</span>
    </a>
    <a mat-list-item routerLink="/search/formula" *ngIf="isLoggedIn" (click)="onSidenavClose()">
        <span class="nav-caption listitem">Formula</span>

    </a>
    
</mat-nav-list>